<!-- @format -->

{% if request.cookies['access_token'] %} {% set cu = ... %}
<!-- у шаблон передай current_user коли рендериш сторінки -->
{% if cu and cu.role.value == 'admin' %}
<a href="/admin/users">Admin</a>
{% endif %} {% endif %} {% block content %}{% endblock %} {% block scripts %}{% endblock %} {% comment %}

<label class="role-item"><input type="checkbox" name="is_verified" {% if user.is_verified %}checked{% endif %} /> Verified</label><br />

<label class="role-item"><input type="checkbox" name="is_active" {% if user.is_active %}checked{% endif %} /> Active</label><br /><br />
{% endcomment %} {% comment %} {% endcomment %}
