<!-- @format -->

{% extends "base.html" %} {% block content %}
<h2>Profile</h2>
{% if user.avatar_url %}
<img src="{{ user.avatar_url }}" class="avatar" alt="avatar" />
{% endif %}
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Full name:</strong> {{ user.full_name }}</p>
<p><strong>Verified:</strong> {{ 'Yes' if user.is_verified else 'No' }}</p>

{% if not user.is_verified %}
<div class="alert">Email is not verified. Check your email.</div>
{% endif %} {%if user.role == "admin" %}
<a class="users-list" href="/admin/users">Users list </a>
{% endif %}
<h3>Upload avatar</h3>
<form action="/users/default-avatar" method="post" enctype="multipart/form-data">
	<input type="file" id="avatarFile" name="file" accept="image/*" required /><br /><br />
	<button type="submit">Upload</button>
</form>
{%if user.role != "admin" %}
<p>You do not have permission to change default avatar.</p>
{% endif %}

<div id="message"></div>
<form action="/users/request-password-reset" method="post" enctype="multipart/form-data" style="margin-top: 20px">
	<input type="hidden" name="email" value="{{user.email }}" />
	<button type="submit">Reset password</button>
</form>
<form action="/logout" method="post" style="margin-top: 30px">
	<button type="submit">Logout</button>
</form>
{% endblock %}
