<!-- @format -->
{% extends "base.html" %} {% block content %}
<h2>Ви перевірили свою електронну пошту</h2>
<p>Ми відправили лист на <b>{{ email }}</b> з токном для збросу паролю</p>
<p>Введіть новий пароль нижче:</p>
<form action="/users/reset-password" method="post">
	<input name="email" value="{{ email }}" />
	<input name="token" type="hidden" value="{{ token }}" />
	<input type="password" name="new_password" placeholder="New password" required />
	<button type="submit">Підтвердити новий пароль</button>
</form>
{% endblock %}
